#chessboard {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    border: 4px solid #444;
}

.square {
    box-sizing: border-box;
    flex: 0, 0, 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
}
.square[data-color="dark"] { background-color: rgba(0, 0, 0, 1);}
.square[data-color="light"] { background-color: rgba(255, 255, 255, 1);}

.piece {
    user-select: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 10;
}
.piece[data-user="1"] { background-color: rgba(255, 0, 0, 1);}
.piece[data-user="0"] { background-color: rgba(0, 0, 255, 1);}

.square.highlight {
    outline: 3px solid rgba(255, 200, 30, 0.9);
    outline-offset: -10px;
}
