#preview {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column; 
    /*align-items: flex-start;*/
}

#save-list {
    /*width: 100%;*/
    /*display: grid;*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.save-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 30px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tag {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
}

.tag.playing { background-color: #4caf50; }
.tag.finished { background-color: #f44336; }

.load-btn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-zone {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;      /* 输入框和按钮的间距 */
    margin: 10px 0; /* 上下外边距 */
    padding: 5px;
    /*background: #ffffff;*/
    border-radius: 12px;
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.05);*/
}

#new-id-input {
    flex: 1;
    max-width: 300px;
    padding: 12px 15px;
    border: 2px solid #eee;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

#new-id-input:focus {
    border-color: #007bff; /* 聚焦时变成蓝色 */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

#start-new-btn {
    padding: 12px 25px;
    background-color: #4caf50; /* 绿色代表开始新游戏 */
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#start-new-btn:hover {
    background-color: #45a049;
}

#start-new-btn:active {
    transform: scale(0.95); /* 点击时的缩放反馈 */
}

#mode-select {
    display: block;
    margin: 10px 5px 30px 5px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    transition: border-color 0.3s;
}

#mode-select:focus {
    border-color: #007bff;
}
